.cardContainer {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

iframe.card {
	border-radius: 15px;
	border-width: 2;
	border-color: black;
	border-style: solid;
	width: 200px;
	height: 200px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin: 20px;
}